In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [3]:
data = "diameter.txt"
df = pd.read_csv(data, delimiter="\s+")

In [4]:
print(df.shape)
print(df.info())
display(df.head())

(100, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   diameter  100 non-null    float64
 1   batch     100 non-null    float64
dtypes: float64(2)
memory usage: 1.7 KB
None

   diameter  batch
0     1.006    1.0
1     0.996    1.0
2     0.998    1.0
3     1.000    1.0
4     0.992    1.0

In [6]:
model = smf.ols(formula='diameter ~ C(batch)', data=df)
result = model.fit()
table = sm.stats.anova_lm(result, typ=2)
display(table)

            sum_sq    df         F    PR(>F)
C(batch)  0.000729   9.0  2.296912  0.022661
Residual  0.003174  90.0       NaN       NaN

In [9]:
p_val = table.at['C(batch)', 'PR(>F)']
print(p_val)

0.022660819278637966