In [1]:
import pandas as pd
import scipy.stats as ss 
import statsmodels.api as sm 
import statsmodels.formula.api as smf

In [2]:
data = "score_oneway.csv"
df = pd.read_csv(data)
display(df)

    Class  Score
0       1     76
1       1     54
2       1     62
3       1     46
4       1     53
..    ...    ...
82      3     57
83      3     80
84      3     92
85      3     41
86      3     82

[87 rows x 2 columns]

In [3]:
print(pd.unique(df["Class"]))

[1 2 3]

In [4]:
data1 = df[df["Class"]==1]["Score"]
data2 = df[df["Class"]==2]["Score"]
data3 = df[df["Class"]==3]["Score"]

In [5]:
f, p_val = ss.f_oneway(data1, data2, data3)
print(f,p_val)

0.9554459385671847 0.38878048139735655

In [6]:
#2
model = smf.ols(formula='Score ~ C(Class)', data=df)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Score   R-squared:                       0.022
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.9554
Date:                Mon, 14 Jul 2025   Prob (F-statistic):              0.389
Time:                        15:25:30   Log-Likelihood:                -387.05
No. Observations:                  87   AIC:                             780.1
Df Residuals:                      84   BIC:                             787.5
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        60.7931      3.911     15.544      0.000      53.016      68.570
C(Class)[T.2]     3.2759      5.531      0.592      0.555      -7.723      14.275
C(Class)[T.3]     7.6207      5.531      1.378      0.172      -3.378      18.619
==============================================================================
Omnibus:                       27.386   Durbin-Watson:                   2.096
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                5.239
Skew:                           0.028   Prob(JB):                       0.0728
Kurtosis:                       1.799   Cond. No.                         3.73
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
table = sm.stats.anova_lm(results, typ=2)
print(table)
print(table.at['C(Class)','PR(>F)'])

                sum_sq    df         F   PR(>F)
C(Class)    847.609195   2.0  0.955446  0.38878
Residual  37259.655172  84.0       NaN      NaN
0.3887804813973472

In [9]:
#3
k = len(pd.unique(df["Class"])) 
N = df.shape[0]
df_between = k - 1
df_within = N - k
df_total = N - 1

In [10]:
ave_all = df['Score'].mean()

n1 = data1.size
n2 = data2.size
n3 = data3.size
c1_ave = data1.mean()
c2_ave = data2.mean()
c3_ave = data3.mean()

In [12]:
c1_ssb = n1 * (c1_ave - ave_all)**2
c2_ssb = n2 * (c2_ave - ave_all)**2 
c3_ssb = n3 * (c3_ave - ave_all)**2
ss_between = c1_ssb + c2_ssb + c3_ssb
print(ss_between)

c1_ssw = sum((data1 - c1_ave)**2)
c2_ssw = sum((data2 - c2_ave)**2)
c3_ssw = sum((data3 - c3_ave)**2)
ss_within =  c1_ssw + c2_ssw + c3_ssw
print(ss_within)

c1_sst = sum((data1 - ave_all)**2)
c2_sst = sum((data2 - ave_all)**2)
c3_sst = sum((data3 - ave_all)**2)
ss_total = c1_sst + c2_sst + c3_sst
print(ss_total)

847.609195402297
37259.65517241379
38107.2643678161

In [ ]:
mean_squared_between = ss_between / df_between
mean_squared_within = ss_within / df_within

f_ratio =  mean_squared_between / mean_squared_within

print(ss.f.ppf(0.95, df_between, df_within))

p_val =  1 - ss.f.cdf(f_ratio, df_between, df_within)

print("F-value: {}".format(f_ratio))
print("p-value: {:.5f}".format(p_val))

3.1051566079400104
F-value: 0.9554459385671826
p-value: 0.38878