In [10]:
import pandas as pd
import scipy.stats as ss
from scipy.stats import binomtest

In [11]:
data = "spiders.csv"
df = pd.read_csv(data, skiprows=12)

In [12]:
print(df.shape)
print(df.info())
display(df.head())

(15, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      15 non-null     int64
 1   gender  15 non-null     int64
dtypes: int64(2)
memory usage: 368.0 bytes
None

   id  gender
0   1       1
1   2       1
2   3       1
3   4       0
4   5       0

In [13]:
n_female = len(df[df['gender'] == 0])
n_total = df.shape[0]

print(n_female, n_total)
print(n_female/n_total)


result = binomtest(n_female, n_total, 0.75)
p_val=result.pvalue
print(p_val)
print("{:.3f}".format(p_val))

7 15
0.4666666666666667
0.017299838364124298
0.017

In [17]:
data2 = "design.csv"
df2 = pd.read_csv(data2)

In [18]:
print(df2.shape)
print(df2.info())
display(df2.head())

(138, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      138 non-null    int64
 1   gender  138 non-null    object
 2   like    138 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.4+ KB
None

   id  gender     like
0   1  female     like
1   2  female     like
2   3  female  dislike
3   4    male     like
4   5    male     like

In [21]:
dfX = pd.crosstab(df2["gender"],df2["like"])
display(dfX)

like    dislike  like
gender
female       19    50
male         38    31

In [22]:
chisq, p_val, dof, expected = ss.chi2_contingency(dfX)
print(p_val)

0.0018585822782402979

In [ ]:
# 性別とデザインの好みは関係があると言える(男が好む割合と女が好む割合は異なると言える)

In [ ]:
#3.

In [23]:
num = [732, 529, 602, 711, 683]

chisq, p_val = ss.chisquare(num)

print("{:.3f}".format(p_val))

0.000

In [ ]:
# 5種類のビールが好まれる割合は異なるといえる

In [ ]:
#4.

In [25]:
data3 = [[10,6],[3,11]]

oddsratio, p_val = ss.fisher_exact(data3)

print("{:.3f}".format(p_val))

0.033

In [ ]:

# 薬剤と病が治癒したことに関連があるといえる