In [26]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [27]:
result = ss.binomtest(44, 250, 1/6)
p_val=result.pvalue
print(p_val)

0.6716706995935672

In [28]:
data = "prob2.csv"
df = pd.read_csv(data)
df2 = df.drop(columns="shift")

In [29]:
print(df.shape)
print(df.info())
display(df.head())

(3, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   shift         3 non-null      object
 1   Perfect       3 non-null      int64
 2   Satisfactory  3 non-null      int64
 3   Defective     3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes
None

    shift  Perfect  Satisfactory  Defective
0  shift1      106           124          6
1  shift2       67            85          7
2  shift3       37            72          5

In [30]:
print(df2.shape)
print(df2.info())
display(df2.head())

(3, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Perfect       3 non-null      int64
 1   Satisfactory  3 non-null      int64
 2   Defective     3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes
None

   Perfect  Satisfactory  Defective
0      106           124          6
1       67            85          7
2       37            72          5

In [31]:
chi2, p, dof, expected = ss.chi2_contingency(df2) 
print(chi2)
print(p)

5.861947681249834
0.20969804816985732

In [32]:
data2 = [183, 168, 171, 169, 190, 224, 210]
chisq, p_val = ss.chisquare(data2)

print(chisq)
print(p_val)

15.218250950570344
0.018625471379884167

In [33]:
data3 = [[2, 9],[10, 3]]

oddsratio, p_val = ss.fisher_exact(data3)
print(oddsratio, p_val)

0.06666666666666667 0.012278137799742324