In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [4]:
result = ss.binomtest(44, 250, 1/6)
p_val=result.pvalue
print(_val)

if p_val < 0.05:
    print("Reject H0")
else:
    print("Retain H0")

0.6716706995935668
Retain H0

In [ ]:
#2.

In [6]:
df = pd.read_csv("data/prob2.csv", sep=",")
display(df)
df2 = df.drop(columns="shift") #shift列を削除  Remove shift column
#df2 = df.loc[:,'Perfect':] # Perfect列以降を抽出でも良い
#df2 = pd.read_csv("data/prob2.csv", sep=",",　index_col=0) # 0列目をインデックスに指定しても良い
display(df2)
chi2, p, dof, expected = ss.chi2_contingency(df2) # 独立性の検定 Test of independence
print(chi2, p)

if p < 0.05:
    print("Reject H0")
else:
    print("Retain H0")

    shift  Perfect  Satisfactory  Defective
0  shift1      106           124          6
1  shift2       67            85          7
2  shift3       37            72          5

   Perfect  Satisfactory  Defective
0      106           124          6
1       67            85          7
2       37            72          5

5.861947681249834 0.20969804816985732
Retain H0

In [ ]:
#3.

In [7]:
data = [183, 168, 171, 169, 190, 224, 210]

chisq, p_val = ss.chisquare(data) # 全てのカテゴリが同じ度数である場合はf_expの引数は省略

print(chisq, p_val)

if p_val < 0.05:
    print("Reject H0")
else:
    print("Retain H0")

15.218250950570344 0.018625471379884167
Reject H0

In [ ]:
#4.

In [8]:
data = [[2, 9],[10, 3]]

oddsratio, p_val = ss.fisher_exact(data)
print(oddsratio, p_val)

if p_val < 0.05:
    print("Reject H0")
else:
    print("Retain H0")

0.06666666666666667 0.012278137799742324
Reject H0