In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = "data/batting_npb2021.csv"
df = pd.read_csv(data)

In [4]:
print(df.shape)
print(df.info())
display(df.head())

(61, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Height     61 non-null     int64
 1   Weight     61 non-null     int64
 2   HomeRun    61 non-null     int64
 3   StrikeOut  61 non-null     int64
 4   Steal      61 non-null     int64
dtypes: int64(5)
memory usage: 2.5 KB
None

   Height  Weight  HomeRun  StrikeOut  Steal
0     173      85       21         26      0
1     170      85       11         65      5
2     190     104       32        116      3
3     188      87       28        122      6
4     171      85       11         84      4

In [9]:
df_corr = df.corr() ## 全列総当たりの相関係数
display(df_corr)

             Height    Weight   HomeRun  StrikeOut     Steal
Height     1.000000  0.700030  0.520405   0.425124 -0.235158
Weight     0.700030  1.000000  0.561627   0.261680 -0.484311
HomeRun    0.520405  0.561627  1.000000   0.443375 -0.310043
StrikeOut  0.425124  0.261680  0.443375   1.000000  0.084401
Steal     -0.235158 -0.484311 -0.310043   0.084401  1.000000

In [13]:
print(df_corr.at['Weight', 'Height']) ## 体重と身長の相関係数のみ表示

0.7000301248513807

In [12]:
print(df.corrwith(df['Weight'])) ## 体重の列との相関係数のみ表示

Height       0.700030
Weight       1.000000
HomeRun      0.561627
StrikeOut    0.261680
Steal       -0.484311
dtype: float64