In [1]:
import pandas as pd

In [5]:
data1 = {'Name': ['Tom', 'Joseph', 'Bob'], 'Age': [20, 21, 19], "Category":['A','B','C']}

df = pd.DataFrame(data1)
df

     Name  Age Category
0     Tom   20        A
1  Joseph   21        B
2     Bob   19        C

In [6]:
df["Age"].astype(float) ##型をint型からfloat型に変換

0    20.0
1    21.0
2    19.0
Name: Age, dtype: float64

In [9]:
df["Category"] ##object型

0    A
1    B
2    C
Name: Category, dtype: object

In [14]:
df["Category"].astype("category").cat.codes ##型をcategory型に変換して、数値に変換
##astype("category")でcategory型に変換し、cat.codesで数値に変換している

0    0
1    1
2    2
dtype: int8