In [26]:
import pandas as pd

In [27]:
data1 = {'Name': ['Tom', 'Joseph', 'Bob'], 'Age': [20, None, 19]} ##欠損値を含むデータ

df = pd.DataFrame(data1)
df

     Name   Age
0     Tom  20.0
1  Joseph   NaN
2     Bob  19.0

In [28]:
df.isnull() ##欠損値の有無を確認

    Name    Age
0  False  False
1  False   True
2  False  False

In [29]:
df.isnull().sum() ##欠損値の数を確認

Name    0
Age     1
dtype: int64

In [30]:
display(df.isnull().any(axis=0)) ##欠損値が１つでもある列を表示
## axis=0は列方向、axis=1は行方向を指定する引数
## 1つでも欠損値があればTrue、なければFalseを返す

Name    False
Age      True
dtype: bool

In [31]:
df["Age"] = df["Age"].fillna(df["Age"].mean()) ##欠損値をAgeの平均値で補完
## fillna():欠損値を指定した値で補完するメソッド 中身は何でもいい
## fillna(method=bfill):1つ下の値で補完
## fillna(method=ffill):1つ上の値で補完
df

     Name   Age
0     Tom  20.0
1  Joseph  19.5
2     Bob  19.0

In [32]:
df2 = pd.DataFrame(data1)
df2

     Name   Age
0     Tom  20.0
1  Joseph   NaN
2     Bob  19.0

In [34]:
df2 = df2.dropna().reset_index(drop=True) ##欠損値を含む行(横方向)を削除
## dropna(axis=1):欠損値を含む列を削除
## dropna(how="all"):全ての値が欠損値の列(縦方向)を削除
## (drop=True):index列を生成しない
df2

  Name   Age
0  Tom  20.0
1  Bob  19.0