In [35]:
import pandas as pd

In [36]:
data1 = {'Age': [20, 21, 19, 21],"Age_in_days":[7300,7665,6935,6995]}

df = pd.DataFrame(data1)
df

   Age  Age_in_days
0   20         7300
1   21         7665
2   19         6935
3   21         6995

In [37]:
df["Age"].value_counts() ## Ageの値の出現回数をカウント

Age
21    2
20    1
19    1
Name: count, dtype: int64

In [38]:
df["Age"].sum() ##合計

81

In [39]:
df.sum(axis=0) ##列方向の合計
## axis=0はデフォルトなので省略可能

Age               81
Age_in_days    28895
dtype: int64

In [40]:
df.sum(axis=1) ##行方向の合計

0    7320
1    7686
2    6954
3    7016
dtype: int64

In [41]:
df["Age"].mean() ##平均

20.25

In [42]:
df["Age"].min() ##最小値

19

In [43]:
df["Age"].max() ##最大値

21

In [44]:
df["Age"].median() ##中央値

20.5

In [45]:
df["Age"].var() ##分散

0.9166666666666666

In [46]:
df["Age"].std() ##標準偏差

0.9574271077563381

In [47]:
df.describe() ##統計情報一覧

             Age  Age_in_days
count   4.000000     4.000000
mean   20.250000  7223.750000
std     0.957427   334.772933
min    19.000000  6935.000000
25%    19.750000  6980.000000
50%    20.500000  7147.500000
75%    21.000000  7391.250000
max    21.000000  7665.000000