In [1]:
import pandas as pd
import numpy as np

In [2]:
data = "data/wholesale_customers-with-errors.csv"
df = pd.read_csv(data, sep=",", skiprows=13)
df

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,NaN,7561,214.0,2674,1338
1,2,other,7057,9810.0,9568,1762.0,3293,1776
2,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
3,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
4,1,Other,13265,NaN,4221,NaN,507,1788
...,...,...,...,...,...,...,...,...
435,1,Other,29703,12051.0,16027,13135.0,182,2204
436,1,Other,39228,1431.0,764,4510.0,93,2346
437,2,Other,14531,15488.0,30243,437.0,14841,1867
438,1,Other,10290,1981.0,2232,1038.0,168,2125
439,1,Other,2787,1698.0,2510,65.0,477,52

In [3]:
df["Region"].value_counts()
## まずRegion列の表記ミスの値を確認
## other、Lisbon、

Region
Other     313
Lisbon     75
Oporto     45
Otheer      2
other       1
lisbon      1
Lisbn       1
Porto       1
porto       1
Name: count, dtype: int64

In [5]:
df["Region"] = df["Region"].replace("other","Other") ## 置換1
## (古、新)

In [7]:
df["Region"] = df["Region"].replace(["lisbon","Lisbn"],"Lisbon") ## 置換2
## ([古1,古2]、新)

In [8]:
df["Region"] = df["Region"].replace({"porto":"Oporto","Porto":"Oporto","Otheer":"Other"}) ## 置換3
## ({古1:新, 古2:新, ...})

In [10]:
df["Region"].value_counts()  ## 置換後の確認

Region
Other     316
Lisbon     77
Oporto     47
Name: count, dtype: int64