In [1]:
import scipy.stats as ss
import pandas as pd
import numpy as np
from scipy.stats import norm

In [ ]:
df = pd.read_csv("girl_heights.csv")

In [4]:
print(df.shape)
print(df.info())
display(df.head())

(20, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1   height  20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes
None

   id  height
0   1      50
1   2      50
2   3      45
3   4      47
4   5      53

In [5]:
print(df["height"].mean())
print(df["height"].std())
print(df["height"].var())

49.15
2.0332758116683993
4.134210526315789

In [6]:
lower, upper = ss.norm.interval(confidence=0.95, loc=49.15,scale=1.8/np.sqrt(20))
print(lower, upper)

48.36112971348108 49.93887028651892

In [7]:
df1 = pd.read_csv("apple.csv",header=None)
df1.head()

       0
0  281.3
1  305.2
2  346.1
3  338.7
4  350.8

In [8]:
print(df1.mean())
print(df1.std())
print(df1.var())
print(df1.shape)

0    324.15625
dtype: float64
0    42.202585
dtype: float64
0    1781.058188
dtype: float64
(80, 1)

In [9]:
lower, upper = ss.t.interval(confidence = 0.95, df = df1.shape[0]-1 ,loc=np.mean(df1[0]), scale = ss.sem(df1[0]))
print(lower, upper)

314.7645247483483 333.5479752516517