In [24]:
import pandas as pd

In [25]:
data = "data/wheat.csv"
df = pd.read_csv(data)

In [26]:
print(df.shape)
print(df.info())
display(df.head())

(369, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  369 non-null    object
 1   Element  369 non-null    object
 2   Unit     369 non-null    object
 3   Value    369 non-null    float64
dtypes: float64(1), object(3)
memory usage: 11.7+ KB
None

       Country         Element    Unit      Value
0  Afghanistan  Area harvested      ha  1635000.0
1  Afghanistan           Yield   hg/ha    22100.0
2  Afghanistan      Production  tonnes  3613300.0
3      Albania  Area harvested      ha    65072.0
4      Albania           Yield   hg/ha    36927.0

In [27]:
df = df.drop(['Country', 'Unit'], axis=1)
df.head()

          Element      Value
0  Area harvested  1635000.0
1           Yield    22100.0
2      Production  3613300.0
3  Area harvested    65072.0
4           Yield    36927.0

In [30]:
max_values_by_commodity = df.groupby('Element')[['Harvested Area', 'Yield', 'Production']].max()

print(df.head())

print(max_values_by_commodity)

KeyError: "Columns not found: 'Yield', 'Production', 'Harvested Area'"