In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = "data/7203.T.csv"
df = pd.read_csv(data)

In [6]:
print(df.shape)
print(df.info())
display(df.head())

(246, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       246 non-null    object
 1   Open       246 non-null    float64
 2   High       246 non-null    float64
 3   Low        246 non-null    float64
 4   Close      246 non-null    float64
 5   Adj Close  246 non-null    float64
 6   Volume     246 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.6+ KB
None

         Date    Open    High     Low   Close    Adj Close    Volume
0  2022-05-23  2052.5  2065.0  2038.0  2061.5  1996.657227  20585700
1  2022-05-24  2064.5  2078.0  2050.0  2050.0  1985.518921  18717900
2  2022-05-25  2040.0  2067.0  2037.0  2043.5  1979.223389  18929300
3  2022-05-26  2065.0  2106.0  2060.5  2082.0  2016.512451  23739700
4  2022-05-27  2117.0  2117.0  2079.0  2084.0  2018.449585  19511600