In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as ss

# 1番

In [37]:
data = "data/obs.csv"
df = pd.read_csv(data, header=None)
df.head()

   0
0  4
1  7
2  1
3  3
4  6

In [38]:
para = np.arange(0.1, 5.0, 0.1)
logL = np.array([sum(ss.poisson.logpmf(df[0], mu=p)) for p in para])
print(para[np.argmax(logL)])

4.7

In [39]:
print(np.mean(df[0]))

4.733333333333333

# ２番

In [40]:
data1 = "data/time.csv"
df1 = pd.read_csv(data1, header=None)
df1.head()

       0
0  0.132
1  0.515
2  0.147
3  0.257
4  0.254

In [41]:
para = np.arange(0.1, 5.0, 0.1)
logL = np.array([sum(ss.expon.logpdf(df1[0], scale=1/p)) for p in para]) 
print(para[np.argmax(logL)])

3.2

In [42]:
print(1/np.mean(df1[0]))

3.214607175003215

# ３番

In [43]:
data2 = "data/norm.csv"
df2 = pd.read_csv(data2, header=None)
df2.head()

       0
0  2.280
1 -2.965
2  4.971
3  2.399
4  0.567

In [44]:
para = np.arange(0.1, 5.0, 0.1)
logL = np.array([sum(ss.norm.logpdf(df2[0], loc=0, scale=np.sqrt(p))) for p in para])
print(para[np.argmax(logL)])

3.7

In [45]:
print(np.sum(df2[0]*df2[0])/len(df2[0]))
print(np.var(df2[0]))

3.687664057142857
3.2229296897959183