In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
data = "salary_r2.csv"
df = pd.read_csv(data)

In [3]:
print(df.shape)
print(df.info())
display(df.head())

(15, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TIME    15 non-null     int64
 1   PUBS    15 non-null     int64
 2   SALARY  15 non-null     int64
dtypes: int64(3)
memory usage: 488.0 bytes
None

   TIME  PUBS  SALARY
0     1    16   46247
1     7     5   56590
2     3     4   52443
3     6    20   68702
4    11    14   56753

In [7]:
correlation_time_pubs = df['TIME'].corr(df['PUBS'])
print(correlation_time_pubs)

0.5709393258790949

In [9]:
X = df['PUBS']  
y = df['SALARY']

In [10]:
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

In [12]:
r2 = model.rsquared
print(r2)

0.3447648315653934