In [9]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [10]:
df = pd.read_csv("score.csv")
display(df.head())

   Class  Score1  Score2
0      1      67      68
1      1      71      74
2      1      74      62
3      1      73      68
4      1      75      69

In [11]:
stat_t, p_val = ss.ttest_1samp(df['Score2']-df['Score1'], 0.0, alternative='greater')

In [12]:
print(stat_t)
print(p_val)

2.4021507461390965
0.009091467516383508

In [13]:
dfA = df[df['Class'] == 1]
dfB = df[df['Class'] == 2]

stat_t, p_val = ss.ttest_ind(dfA['Score2'], dfB['Score2'], equal_var=False)

In [14]:
print(stat_t)
print(p_val)

-0.3028937769302537
0.7626301746305162