In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [2]:
A = [34,32,36,37]
A_mean = np.mean(A)
lower, upper = ss.norm.interval(confidence = 0.95, loc = A_mean, scale = 1.5/np.sqrt(len(A)))
print(lower, upper)

33.28002701159496 36.21997298840504

In [11]:
df = pd.read_csv('data/income.csv',header=None)

In [12]:
print(df.shape)
print(df.info())
print(df.mean())
display(df.head())

(22, 1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       22 non-null     int64
dtypes: int64(1)
memory usage: 304.0 bytes
None
0    495.363636
dtype: float64

     0
0  488
1  834
2  366
3  420
4  463

In [13]:
lower, upper = ss.t.interval(confidence = 0.95, df = df.shape[0]-1 ,loc=np.mean(df[0]), scale = ss.sem(df[0]))
print(lower, upper)

368.21284053678806 622.5144321904846